<!doctype html>
<html lang="en-US">
  <head>
    <title>Todo App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <script src="/javascripts/jquery-2.2.2.js"></script>
    <script src="/javascripts/application.js"></script>
  </head>
  <body>
    <header>
      <h1>Todo Tracker</h1>
      <div class="actions">
        <%== yield_content :header_links %>
      </div>
    </header>

    <% [:success, :error].each do |flash_type| %>
      <% if session[flash_type] %>
        <div class="flash <%= flash_type %>">
          <p><%= session.delete flash_type %></p>
        </div>
      <% end %>
    <% end %>

    <main>
      <%== yield %>
    </main>
  </body>
</html>
